<ngx-page-header title="Categories" subtitle="List of categories"></ngx-page-header>

<div class="row">
	<div class="col-12">
		<nb-card>
			<nb-card-body class="px-0 table-responsive">
				<div class="col-5 filters mr-3">
					<div class="row">
						<div class="col-1 px-0"></div>
						<ngx-list-filter class="col-push-1 col-6 px-1" type="primary" title="Language"
						                 [options]="languages" (onChange)="filter('lang', $event)">
							<i class="ion-ios-chatboxes-outline"></i>
						</ngx-list-filter>
						<ngx-list-filter class="col-5 pl-1 pr-0" type="primary" title="Active"
						                 [options]="statuses" (onChange)="filter('active', $event)">
							<i class="ion-ios-settings"></i>
						</ngx-list-filter>
					</div>
				</div>

				<div class="mb-2">
					<div class="col-12 pr-0">
						<ngx-pagination [pagination]="pagination"></ngx-pagination>
					</div>
				</div>

				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col" width="10%" class="action-create">
							<a routerLink="/admin/category/create" class="btn btn-hero-primary btn-block btn-tn">
								Create
							</a>
						</th>
						<th scope="col" width="10%">ID</th>
						<th scope="col" width="25%">Name</th>
						<th scope="col" width="20%">Languages</th>
						<th scope="col" width="15%">Active</th>
						<th scope="col" width="20%">Last update</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let category of categories">
						<td scope="row" class="p-0 pt-1">
							<nb-actions size="medium">
								<nb-action>
									<a routerLink="/admin/category/update/{{ category.id }}">
										<i class="control-icon nb-edit"></i>
									</a>
								</nb-action>
								<nb-action icon="nb-trash" (click)="deleteOne(category.id)"></nb-action>
							</nb-actions>
						</td>
						<td> {{ category.id }}</td>
						<td> {{ category.translations[ 0 ].name }}</td>
						<td> {{ category.translations | column:"language" }}</td>
						<td> {{ category.is_active | verbalBoolean }}</td>
						<td> {{ category.updated_on || 'never' }}</td>
					</tr>
					</tbody>
				</table>
			</nb-card-body>
		</nb-card>
	</div>
</div>
