<section class="hero hero-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<h1>ladydev.io sharing tips and tricks about web development</h1>
			</div>
		</div>
		<a href=".intro" class="continue link-scroll">
			<i class="fas fa-long-arrow-alt-down"></i>
			Scroll Down
		</a>
	</div>
</section>

<section class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h2 class="h3">Some great intro here</h2>
				<p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
			</div>
		</div>
	</div>
</section>

<section class="featured-posts no-padding-top">
	<div class="container">
		<app-home-featured-post [post]="" imgSide="right"></app-home-featured-post>
		<app-home-featured-post [post]="" imgSide="left"></app-home-featured-post>
		<app-home-featured-post [post]="" imgSide="right"></app-home-featured-post>
	</div>
</section>

<!-- Divider Section-->
<section style="background: url(assets/theme/img/divider-bg.jpg); background-size: cover; background-position: center bottom" class="divider">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
			</div>
		</div>
	</div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
	<div class="container">
		<header>
			<h2>Latest from the blog</h2>
			<p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</header>
		<div class="row">
			<div class="post col-md-4">
				<div class="post-thumbnail"><a href="post.html"><img src="assets/theme/img/blog-1.jpg" alt="..." class="img-fluid"></a></div>
				<div class="post-details">
					<div class="post-meta d-flex justify-content-between">
						<div class="date">20 May | 2016</div>
						<div class="category"><a href="#">Business</a></div>
					</div><a href="post.html">
					<h3 class="h4">Ways to remember your important ideas</h3></a>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="post col-md-4">
				<div class="post-thumbnail"><a href="post.html"><img src="assets/theme/img/blog-2.jpg" alt="..." class="img-fluid"></a></div>
				<div class="post-details">
					<div class="post-meta d-flex justify-content-between">
						<div class="date">20 May | 2016</div>
						<div class="category"><a href="#">Technology</a></div>
					</div><a href="post.html">
					<h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="post col-md-4">
				<div class="post-thumbnail"><a href="post.html"><img src="assets/theme/img/blog-3.jpg" alt="..." class="img-fluid"></a></div>
				<div class="post-details">
					<div class="post-meta d-flex justify-content-between">
						<div class="date">20 May | 2016</div>
						<div class="category"><a href="#">Financial</a></div>
					</div><a href="post.html">
					<h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Gallery Section-->
<section class="gallery no-padding">
	<div class="row">
		<div class="mix col-lg-3 col-md-3 col-sm-6">
			<div class="item"><a href="assets/theme/img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="assets/theme/img/gallery-1.jpg" alt="..." class="img-fluid">
				<div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
		</div>
		<div class="mix col-lg-3 col-md-3 col-sm-6">
			<div class="item"><a href="assets/theme/img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="assets/theme/img/gallery-2.jpg" alt="..." class="img-fluid">
				<div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
		</div>
		<div class="mix col-lg-3 col-md-3 col-sm-6">
			<div class="item"><a href="assets/theme/img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="assets/theme/img/gallery-3.jpg" alt="..." class="img-fluid">
				<div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
		</div>
		<div class="mix col-lg-3 col-md-3 col-sm-6">
			<div class="item"><a href="assets/theme/img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="assets/theme/img/gallery-4.jpg" alt="..." class="img-fluid">
				<div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
		</div>
	</div>
</section>