//  import bootstrap variables
@import "../../../../../assets/theme/bootstrap";

.menu-item.header {
	margin-top     : $sidenav-item-header-margin;
	padding        : $sidenav-menu-item-padding;
	padding-bottom : 0;
	font-family    : $headings-font-family;
	font-size      : $h6-font-size;
	
	@extend .text-uppercase;
}