<app-layout-header></app-layout-header>

<div class="container">
	<div class="row">
		<main class="col-lg-8" [class.posts-listing]="currentPageList()">
			<router-outlet></router-outlet>
		</main>

		<aside class="col-lg-4">
			<!-- Widget [Search Bar Widget]-->
			<div class="widget search">
				<header>
					<h3 class="h6">Search the blog</h3>
				</header>
				<div class="search-form">
					<div class="form-group">
						<input type="search" placeholder="What are you looking for?">
						<button type="submit" class="submit"><i class="icon-search"></i></button>
					</div>
				</div>
			</div>

			<!-- Widget [Categories Widget]-->
			<app-widget-categories></app-widget-categories>

			<!-- Widget [Tags Cloud Widget]-->
			<app-widget-top-tags></app-widget-top-tags>
		</aside>
	</div>
</div>

<app-layout-footer></app-layout-footer>