<section>
	<div class="container-fluid">
		<form [formGroup]="form" (submit)="save()" novalidate class="forms form-horizontal">
			<div class="card">
				<div class="card-close">
					<span class="action" (click)="resetForm()"> <i class="fas fa-sync"></i> </span>
				</div>
				<div class="card-header">
					{{ title || 'Post' }}
				</div>
				<div class="card-body">
					<div class="form-group row">
						<label class="offset-sm-1 col-sm-2 form-control-label">
							Category
						</label>
						<div class="col-sm-8 select">
							<ng-select class="control" [class.is-invalid]="hasError('category_id')"
							           formControlName="category_id" placeholder="Please select a category"
							           [items]="categories | flatTranslation:'name'" bindValue="id"></ng-select>

							<div class="is-invalid help-block text-danger">
								<small *ngFor="let err of getErrors('category_id')">{{ err }}</small>
							</div>
						</div>
					</div>
					<div class="line"></div>

					<div class="form-group row mb-5">
						<label class="offset-sm-1 col-sm-2 form-control-label">
							Tags
						</label>
						<div class="col-sm-8">
							<ng-select class="control" [class.is-invalid]="hasError('tags')"
							           formControlName="tags" placeholder="Select tags"
							           [items]="tags | flatTranslation:'name'" multiple="true" bindValue="id" bindLabel="name">
							</ng-select>

							<div class="is-invalid help-block text-danger" *ngIf="hasError('tags')">
								<small *ngFor="let err of getErrors('tags')"> {{ err }} </small>
							</div>
						</div>
					</div>

					<ngb-tabset justify="justified" type="pills" formArrayName="translations">
						<ngb-tab *ngFor="let t of getTranslations().controls; let idx = index;"
						         [formArrayName]="idx">
							<ng-template ngbTabTitle>
								{{ t.get("lang_id").value | atIndexOf:languages:"id":"name" }}
							</ng-template>
							
							<ng-template ngbTabContent>
								<div class="pt-4 px-3">
									<div class="form-group row">
										<label class="offset-sm-1 col-sm-2 form-control-label">
											Cover Picture
										</label>
										<div class="col-sm-8">
											<app-file-input formControlName="cover"></app-file-input>
										</div>
									</div>
									<div class="line"></div>
									
									<div class="form-group row">
										<label class="offset-sm-1 col-sm-2 form-control-label">
											Cover Alt
										</label>
										<div class="col-sm-8">
											<input type="text" formControlName="cover_alt"
											       class="form-control" [class.is-invalid]="hasError('cover_alt', idx)">

											<div class="help-block text-xsmall">
												This text is usually displayed when the image can't be properly loaded or
												when the user is hovering the cover picture.
											</div>

											<div class="is-invalid help-block text-danger">
												<small *ngFor="let err of getErrors('cover_alt', t.get('lang_id').value)">{{ err }}</small>
											</div>
										</div>
									</div>
									<div class="line"></div>
									
									<div class="form-group row">
										<label class="offset-sm-1 col-sm-2 form-control-label">
											Title
										</label>
										<div class="col-sm-8">
											<input type="text" formControlName="title"
											       class="form-control" [class.is-invalid]="hasError('title', idx)"
											       (change)="setSlug(idx)">

											<div class="is-invalid help-block text-danger">
												<small *ngFor="let err of getErrors('title', t.get('lang_id').value)">{{ err }}</small>
											</div>
										</div>
									</div>
									<div class="line"></div>
									
									<div class="form-group row">
										<label class="offset-sm-1 col-sm-2 form-control-label">
											Slug
										</label>
										<div class="col-sm-8">
											<input type="text" formControlName="slug"
											       class="form-control" [class.is-invalid]="hasError('slug', idx)">

											<div class="is-invalid help-block text-danger">
												<small *ngFor="let err of getErrors('slug', t.get('lang_id').value)">{{ err }}</small>
											</div>
										</div>
									</div>
									<div class="line"></div>
									
									<div class="form-group row">
										<label class="offset-sm-1 col-sm-2 form-control-label">
											Summary
										</label>
										<div class="col-sm-8">
											<input type="text" formControlName="summary"
											       class="form-control" [class.is-invalid]="hasError('summary', idx)">

											<div class="is-invalid help-block text-danger">
												<small *ngFor="let err of getErrors('summary', t.get('lang_id').value)">{{ err }}</small>
											</div>
										</div>
									</div>
									<div class="line"></div>
									
									<div class="form-group row">
										<label class="offset-sm-1 col-sm-2 form-control-label">
											Content
										</label>
										<div class="col-sm-8">
											<div [froalaEditor]="editorOptions" formControlName="content"></div>
										</div>
									</div>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
				<div class="card-footer text-right">
					<button type="button" class="btn btn-outline-success d-none" [class.d-inline]="displayStatusChangeBtn('draft')"
					        (click)="updateStatus('unpublished')" [ladda]="statusLoading" data-style="zoom-in">
						Review
					</button>
					<button type="button" class="btn btn-outline-primary d-none" [class.d-inline]="displayStatusChangeBtn('unpublished')"
					        (click)="updateStatus('published')" [ladda]="statusLoading" data-style="zoom-in">
						Publish
					</button>
					<button type="button" class="btn btn-outline-secondary d-none" [class.d-inline]="displayStatusChangeBtn('published')"
					        (click)="updateStatus('archived')" [ladda]="statusLoading" data-style="zoom-in">
						Archive
					</button>

					<div [class.divider]="!isCreate()">
						<button type="submit" class="btn btn-primary" [ladda]="formLoading" data-style="zoom-in">
							Save
						</button>
						<button type="button" class="btn btn-outline-secondary">
							Cancel
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>