<ngx-page-header title="Posts" subtitle="Create a post"></ngx-page-header>

<div class="row">
	<div class="col-12">
		<form [formGroup]="form">
			<nb-card>
				<nb-card-body class="px-0">
					<div class="mx-2 col-6">
						<div class="form-group">
							<label for="select-category" class="sr-only"> Category </label>
							<select id="select-category" formControlName="category_id"
							        class="form-control">
								<option selected> Select a category</option>
								<option *ngFor="let cat of categories" [value]="cat.id">
									{{ cat.translations[ 0 ].name }}
								</option>
							</select>
						</div>
					</div>

					<nb-tabset formArrayName="translations">
						<nb-tab *ngFor="let translations of getTranslations().controls; let idx = index"
						        [formGroupName]="idx"
						        [tabTitle]="translations.get('lang_id').value | atIndexOf:languages:'id':'name'">

							<div class="mx-2 mt-4 col-md-6 col-xs-12">
								<div class="form-group">
									<label [for]="'input-idx-title' | replace:{ idx: idx }"
									       class="sr-only">Title</label>
									<input type="text" [id]="'input-idx-title' | replace:{ idx: idx }"
									       placeholder="title" formControlName="title"
									       class="form-control">
								</div>

								<div class="form-group">
									<label [for]="'input-idx-slug' | replace:{ idx: idx }" class="sr-only">Slug</label>
									<input type="text" [id]="'input-idx-slug' | replace:{ idx: idx }"
									       placeholder="slug" formControlName="slug"
									       class="form-control">
								</div>
							</div>
							<div class="mx-2 col-11">
								<div class="form-group">
									<ckeditor formControlName="content"
									          [config]="{ extraPlugins: 'divarea' }"></ckeditor>
								</div>
							</div>

						</nb-tab>
					</nb-tabset>
				</nb-card-body>
			</nb-card>
		</form>
	</div>
</div>