$templateColour : "ladydev";

@import "../../../../assets/theme/style/modules/colors";

.divider {
	display : inline-block;
	height  : 40px;
	margin-left: 18px;
	padding-left: 20px;
	border-left : 1px dashed $gray-600;
}

.card-close span.action {
	&:hover {
		color  : $primary;
		cursor : pointer;
	}

	&:not(:last-of-type) {
		border-right  : 1px solid #dee2e6;
		padding-right : 15px;
		margin-right  : 10px;
	}

	&.active {
		color : lighten($primary, 0.4);

		&:hover {
			color: darken($primary, 0.4);
		}
	}
}