<div class="btn-group btn-group-tn btn-toggle-group btn-outline-toggle-group" data-toggle="buttons"
	 ngbRadioGroup [ngModel]="current">

	<label ngbButtonLabel class="btn btn-outline-primary btn-tn"
		   (click)="goToFirst()">
		<i class="fa fa-angle-double-left"></i>
	</label>

	<label ngbButtonLabel class="btn btn-outline-primary btn-tn"
		   (click)="goToPrevious()">
		 <i class="fa fa-angle-left"></i>
	</label>

	<label *ngFor="let page of pageNumbers()"
	       ngbButtonLabel class="btn btn-outline-primary btn-tn"
		   (click)="goToPage(page)">
		<input ngbButton type="radio" [value]="page"> {{ page }}
	</label>

	<label ngbButtonLabel class="btn btn-outline-primary btn-tn" (click)="goToNext()">
		<i class="fa fa-angle-right"></i>
	</label>

	<label ngbButtonLabel class="btn btn-outline-primary btn-tn" (click)="goToLast()">
		<i class="fa fa-angle-double-right"></i>
	</label>
</div>