<div class="btn-group btn-group-tn btn-toggle-group btn-outline-toggle-group" data-toggle="buttons"
	 ngbRadioGroup [ngModel]="current">

	<label class="btn btn-outline-primary btn-tn" [class.disabled]="pagination.isFirst()" (click)="goToFirst()">
		<i class="fa fa-angle-double-left"></i>
	</label>

	<label class="btn btn-outline-primary btn-tn" [class.disabled]="pagination.isFirst()" (click)="goToPrevious()">
		<i class="fa fa-angle-left"></i>
	</label>

	<label *ngFor="let page of pageNumbers()"
		   ngbButtonLabel class="btn btn-outline-primary btn-tn" (click)="goToPage(page)">
		<input ngbButton type="radio" [value]="page"> {{ page }}
	</label>

	<label class="btn btn-outline-primary btn-tn" [class.disabled]="pagination.isLast()" (click)="goToNext()">
		<i class="fa fa-angle-right"></i>
	</label>

	<label class="btn btn-outline-primary btn-tn" [class.disabled]="pagination.isLast()" (click)="goToLast()">
		<i class="fa fa-angle-double-right"></i>
	</label>
</div>