<div class="post-footer d-flex align-items-center flex-column flex-sm-row">
	<a href="#" class="author d-flex align-items-center flex-wrap">
		<div class="avatar"><img [src]="author.picture" [alt]="author.fullname" class="img-fluid"></div>
		<div class="title"><span>{{ author.fullname }}</span></div>
	</a>
	<div class="d-flex align-items-center flex-wrap">
		<div class="date">
			<i class="icon-clock"></i>
			{{ published | date:'M/d/yy, h:mm' | timeAgo }}
		</div>
		<div class="comments meta-last">
			<i class="icon-comment"></i>
			{{ commentCount }}
		</div>
	</div>
</div>