<div class="post blog-post">
	<div class="container">
		<div class="post-single">
			<div class="post-thumbnail"><img src="img/blog-post-3.jpeg" alt="..." class="img-fluid"></div>
			<div class="post-details">
				<div class="post-meta d-flex justify-content-between">
					<div class="category">
						<a href="#">Business</a>
					</div>
				</div>
				<h1>
					Diversity in Engineering: The Effect on Questions
					<a href="#"> <i class="far fa-bookmark"></i> </a>
				</h1>
				
				<app-blog-footer></app-blog-footer>
				
				<div class="post-body">
					<p class="lead">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					   labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					   nisi ut aliquip ex ea commodo consequat.</p>
					
					<p><img src="img/featured-pic-3.jpeg" alt="..." class="img-fluid"></p>
					
					<h3>Lorem Ipsum Dolor</h3>
					
					<p>div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus iusto
					   voluptates deleniti similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur ratione
					   quis perspiciatis deleniti accusantium</p>
					
					<blockquote class="blockquote">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						   labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						   laboris nisi ut aliquip.</p>
						<footer class="blockquote-footer">Someone famous in
							<cite title="Source Title">Source Title</cite>
						</footer>
					</blockquote>
					
					<p>quasi nam. Libero dicta eum recusandae, commodi, ad, autem at ea iusto numquam veritatis,
					   officiis. Accusantium optio minus, voluptatem? Quia reprehenderit, veniam quibusdam provident,
					   fugit iusto ullam voluptas neque soluta adipisci ad.</p>
				</div>
				
				<app-blog-tags [tags]="tags"></app-blog-tags>
			</div>
		</div>
	</div>
</div>