<section>
	<div class="container-fluid">
		<div class="card">
			<div class="card-close">
				<a routerLink="/admin/posts/create" class="action">
					<i class="fas fa-plus"></i>
				</a>
			</div>
			<div class="card-header">
				Posts
			</div>
			<div class="card-body">
				<div class="row mb-3">
					<div class="col-12">
						<span ngbDropdown placement="bottom-left">
							<button type="button" rel="nofollow" class="btn" ngbDropdownToggle
							        [class.btn-outline-secondary]="!filterBy('lang')" [class.btn-outline-primary]="filterBy('lang')">
								Languages
							</button>
							<ul class="dropdown-menu" ngbDropdownMenu>
								<li class="dropdown-item" (click)="filter('lang', -1)"> All languages </li>
								<li *ngFor="let lang of languages" (click)="filter('lang', lang.id)"
								    class="dropdown-item" [class.active]="currentFilter('lang', lang.id)">
									{{ lang.name }}
								</li>
							</ul>
						</span>

						<span ngbDropdown placement="bottom-left">
							<button type="button" rel="nofollow" class="btn" ngbDropdownToggle
							        [class.btn-outline-secondary]="!filterBy('status')" [class.btn-outline-primary]="filterBy('status')">
								Status
							</button>
							<ul class="dropdown-menu" ngbDropdownMenu>
								<li class="dropdown-item" (click)="filter('status', -1)"> All status </li>
								<li *ngFor="let status of statuses" (click)="filter('status', status.id)"
								    class="dropdown-item" [class.active]="currentFilter('status', status.id)">
									{{ status.name }}
								</li>
							</ul>
						</span>
					</div>
				</div>

				<table class="table">
					<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Slug</th>
						<th>Languages</th>
						<th>Status</th>
						<th>Last update</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let post of posts">
						<td>
							<ul class="action-menu">
								<li>
									<a [routerLink]="['/admin/posts/update', post.id ]">
										<i class="far fa-edit"></i>
									</a>
								</li>
								<li (click)="deleteOne(post.id)">
									<i class="far fa-trash-alt"></i>
								</li>
							</ul>
						</td>
						<td>{{ post.firstTranslation().title }}</td>
						<td>{{ post.firstTranslation().slug }}</td>
						<td>{{ post.translations | column:"language.name" }}</td>
						<td>{{ post.post_status_id | atIndexOf:statuses:"id":"name" }}</td>
						<td>{{ post.updated_on || "--" }}</td>
					</tr>
					
					<tr *ngIf="posts.length === 0">
						<td colspan="6" class="text-center">No data to show</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<app-pagination [pagination]="pagination"></app-pagination>
			</div>
		</div>
	</div>
</section>