<ngx-page-header title="Posts" subtitle="List of posts"></ngx-page-header>

<div class="row">
	<div class="col-12">
		<nb-card>
			<nb-card-body class="px-0 table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col" width="10%" class="action-create">
							<a routerLink="/admin/posts/create" class="btn btn-hero-primary btn-block btn-tn">
								Create
							</a>
						</th>
						<th scope="col" width="10%">ID</th>
						<th scope="col" width="25%">Name</th>
						<th scope="col" width="20%">Languages</th>
						<th scope="col" width="15%">Status</th>
						<th scope="col" width="20%">Last update</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let post of list">
						<td class="p-0 pt-1">
							<nb-actions size="medium">
								<nb-action>
									<a routerLink="/admin/posts/update">
										<i class="control-icon nb-edit"></i>
									</a>
								</nb-action>
								<nb-action icon="nb-trash"></nb-action>
							</nb-actions>
						</td>
						<td>{{ post.id }}</td>
						<td>{{ post.translations[ 0 ]?.title }}</td>
						<td>{{ post.translations | column:"language" }}</td>
						<td>{{ post.post_status_id }}</td>
						<td>{{ post.updated_on || "never" }}</td>
					</tr>
					</tbody>
				</table>
			</nb-card-body>
		</nb-card>
	</div>
</div>