<div class="dropdown" ngbDropdown>
	<a id="notifications" rel="nofollow" data-target="#" href="#"
	   aria-haspopup="true" aria-expanded="false" class="nav-link" ngbDropdownToggle>
		<i class="far fa-bell"></i>
		<span class="badge bg-red badge-corner">12</span>
	</a>
	<ul aria-labelledby="notifications" class="dropdown-menu" ngbDropdownMenu>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item">
				<div class="notification">
					<div class="notification-content">
						<i class="fa fa-envelope bg-green"></i>
						You have 6 new messages
					</div>
					<div class="notification-time">
						<small>4 minutes ago</small>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item">
				<div class="notification">
					<div class="notification-content">
						<i class="fa fa-twitter bg-blue"></i>
						You have 2 followers
					</div>
					<div class="notification-time">
						<small>4 minutes ago</small>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item">
				<div class="notification">
					<div class="notification-content">
						<i class="fa fa-upload bg-orange"></i>
						Server Rebooted
					</div>
					<div class="notification-time">
						<small>4 minutes ago</small>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item">
				<div class="notification">
					<div class="notification-content">
						<i class="fa fa-twitter bg-blue"></i>
						You have 2 followers
					</div>
					<div class="notification-time">
						<small>10 minutes ago</small>
					</div>
				</div>
			</a></li>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
				<strong>view all notifications</strong>
			</a>
		</li>
	</ul>
</div>
