<header class="header">
	<nav class="navbar">
		<!-- Search Box-->
		<div class="search-box">
			<button class="dismiss"><i class="icon-close"></i></button>
			<form id="searchForm" action="#" role="search">
				<input type="search" placeholder="What are you looking for..." class="form-control">
			</form>
		</div>
		
		<div class="container-fluid">
			<div class="navbar-holder d-flex align-items-center justify-content-between">
				<!-- Navbar Header-->
				<div class="navbar-header">
					<!-- Navbar Brand -->
					<a href="index.html" class="navbar-brand">
						<div class="brand-text brand-big">
							<span>ladydev</span><strong>.io</strong>
						</div>
						<div class="brand-text brand-small">
							<strong>LD</strong>
						</div>
					</a>
					<!-- Toggle Button-->
					<a id="toggle-btn" class="menu-btn" [class.active]="!isShrinked" (click)="toggleSidemenu.emit(true)">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
				<!-- Navbar Menu -->
				<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
					<!-- Search-->
					<li class="nav-item d-flex align-items-center">
						<a id="search" href="#">
							<i class="icon-search"></i>
						</a>
					</li>
					<!-- Notifications-->
					<li class="nav-item">
						<app-widgets-notifications></app-widgets-notifications>
					</li>
					<!-- Messages -->
					<li class="nav-item">
						<app-widgets-messages></app-widgets-messages>
					</li>
					<!-- Logout    -->
					<li class="nav-item">
						<a href="login.html" class="nav-link logout">
							Logout
							<i class="fas fa-sign-out-alt"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>