<div class="page">
	<!-- Main navbar -->
	<app-layout-header [isShrinked]="isShrinked" (toggleSidemenu)="isShrinked = !isShrinked"></app-layout-header>
	
	<div class="page-content d-flex align-items-stretch">
		<!-- Side Navbar -->
		<nav class="side-navbar" [class.shrinked]="isShrinked">
			<app-layout-sidemenu></app-layout-sidemenu>
		</nav>
		
		<div class="content-inner">
			<!-- Page Header -->
			<app-layout-page-title></app-layout-page-title>
			
			<ng-content select="router-outlet"></ng-content>
			
			<!-- Page Footer -->
			<app-layout-footer></app-layout-footer>
		</div>
	</div>
</div>