<div class="page">
	<!-- Main navbar -->
	<app-layout-header [isShrinked]="isShrinked" (toggleSidemenu)="isShrinked = !isShrinked"></app-layout-header>
	
	<div class="page-content d-flex align-items-stretch">
		<!-- Side Navbar -->
		<nav class="side-navbar" [class.shrinked]="isShrinked">
			<app-layout-sidemenu></app-layout-sidemenu>
		</nav>
		
		<div class="content-inner">
			<!-- Page Header -->
			<app-layout-page-title></app-layout-page-title>

			<!-- Page content -->
			<!-- note: position relative is used to contain the spinner so it isn't full screen -->
			<div style="position: relative">
				<ngx-spinner bdColor="rgba(238,245,249,0.6)"
				             size="medium"
				             color="#991d40"
				             type="ball-grid-pulse"></ngx-spinner>

				<ng-content select="router-outlet"></ng-content>
			</div>

			<!-- Page Footer -->
			<app-layout-footer></app-layout-footer>
		</div>
	</div>
</div>