<div class="dropdown" ngbDropdown placement="bottom-right">
	<a id="messages" rel="nofollow" aria-haspopup="true"
	   aria-expanded="false" class="nav-link" ngbDropdownToggle>
		<i class="far fa-envelope"></i>
		<span class="badge bg-orange badge-corner">10</span>
	</a>
	<ul aria-labelledby="notifications" class="dropdown-menu" ngbDropdownMenu>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item d-flex">
				<div class="msg-profile">
					<!--<img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle">-->
				</div>
				<div class="msg-body">
					<h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
				</div>
			</a>
		</li>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item d-flex">
				<div class="msg-profile">
					<!--<img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle">-->
				</div>
				<div class="msg-body">
					<h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
				</div>
			</a>
		</li>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item d-flex">
				<div class="msg-profile">
					<!--<img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle">-->
				</div>
				<div class="msg-body">
					<h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
				</div>
			</a>
		</li>
		<li>
			<a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
				<strong>Read all messages</strong>
			</a>
		</li>
	</ul>
</div>
