<div class="dropdown" ngbDropdown placement="bottom-right">
	<a id="messages" rel="nofollow" aria-haspopup="true"
	   aria-expanded="false" class="nav-link" ngbDropdownToggle>
		<i class="far fa-envelope"></i>

		<span *ngIf="count > 0" class="badge bg-orange badge-corner">{{ count }}</span>
	</a>

	<ul aria-labelledby="notifications" class="dropdown-menu" ngbDropdownMenu>
		<li *ngFor="let message of list">
			<a rel="nofollow" [routerLink]="[ '/admin/messages', message.id ]"
			   class="dropdown-item d-flex">
				<div class="msg-profile">
					<strong>{{ message.created_on | date:'d' }}</strong>
					<span>{{ message.created_on | date:'MMM' }}</span>
				</div>
				<div class="msg-body">
					<h3 class="h5">{{ message.name }}</h3><span>Sent you a message</span>
				</div>
			</a>
		</li>
		<li>
			<a rel="nofollow" routerLink="/admin/messages"
			   class="dropdown-item all-notifications text-center">
				<strong>Read all messages</strong>
			</a>
		</li>
	</ul>
</div>
