<nav id="topnav" class="navbar navbar-expand-lg fixed-top navbar-light bg-white justify-content-between">
	<a class="navbar-brand" href="#"> admin </a>
	
	<!-- START : MENU -->
	<ul class="navbar-nav">
		<!-- START : LANGUAGE -->
		<li class="nav-item icon">
			<div ngbDropdown placement="bottom-right" class="d-inline-block">
				<a id="lang-menu" class="no-arrow" ngbDropdownToggle>
					<i class="material-icons">translate</i>
				</a>
				<div ngbDropdownMenu aria-labelledby="lang-menu">
					<a href="#" class="dropdown-item">english</a>
					<a href="#" class="dropdown-item">french</a>
				</div>
			</div>
		</li>
		<!-- END : LANGUAGE -->
		
		<!-- START : NOTIFICATIONS -->
		<li class="nav-item icon">
			<div ngbDropdown placement="bottom-right" class="d-inline-block">
				<a id="notification-menu" class="no-arrow" ngbDropdownToggle>
					<i class="material-icons">notifications_none</i>
				</a>
				<div ngbDropdownMenu aria-labelledby="notification-menu">
				</div>
			</div>
		</li>
		<!-- END : NOTIFICATIONS -->
		
		<!-- START : USER -->
		<li class="nav-item">
			<div ngbDropdown placement="bottom-right" class="d-inline-block">
				<a id="user-menu" ngbDropdownToggle>
					<img src="https://api.adorable.io/avatars/100/roxanne@.png"
					     alt="" width="30" height="30" class="round mr-1">
					Roxanne Desmeules
				</a>
				<div ngbDropdownMenu aria-labelledby="user-menu">
					<a href="#" class="dropdown-item">Settings</a>
					<a href="#" class="dropdown-item">Log out</a>
				</div>
			</div>
		</li>
		<!-- END : USER -->
	</ul>
	<!-- END : MENU -->
</nav>