<section>
    <div class="frame bg-dark text-light col-sm-10 col-xs-12 col-md-6 position-relative mx-2">
        <h3 class="position-relative">
            <span aria-hidden="true" class="header position-absolute">
                <span class="buttons bg-red"></span><!--
                --><span class="buttons bg-yellow"></span><!--
                --><span class="buttons bg-green"></span>
            </span>
        </h3>
        <div class="code">
            <span class="comment" *ngIf="is(404)">// 404 page not found (aka it's not me, it's you)</span>
            <span class="comment" *ngIf="is(500)">// 500 internal server error (aka it's not you, it's me)</span>

            <span>
                <span class="keyword">if</span>
                <span *ngIf="is(404)">(<span class="operator">!</span><span class="variable">found</span>)</span>
                <span *ngIf="is(500)">(<span class="variable">server</span>.<span class="operator">failed</span>())</span>
                {{'{'}}
            </span>
            <span>
                <span class="indent operator">throw</span>
                <span>
                    (<span class="string">"(╯°□°)╯︵ ┻━┻"</span>);
                </span>
                <span style="display:block">{{'}'}}</span>
            </span>
        </div>
    </div>
</section>