header {
	margin-bottom: 20px !important;
}

.closed-comments {
	margin     : {
		top    : 10px;
		bottom : 20px;
	}
	padding    : {
		left   : 15px;
		top    : 10px;
		bottom : 10px;
	}

	background : #fafafa;
	color      : #777777;
}