<div class="post-comments">
	<header>
		<h3 class="h6">Conversation <span class="no-of-comments">({{ count }})</span></h3>
	</header>

	<div *ngIf="!enabled" class="closed-comments"> Comments are closed </div>

	<app-blog-post-comment-form *ngIf="enabled" [postId]="postId" (onCreate)="passToParent($event)">
	</app-blog-post-comment-form>

	<app-blog-post-comment class="comment" *ngFor="let comment of comments"
	                       [enabled]="enabled" [comment]="comment" [postId]="postId"
	                       (onCreate)="passToParent($event)">
	</app-blog-post-comment>
</div>