<div>
	<div class="post-thumbnail">
		<a href="post.html">
			<img [src]="post.cover.url" [alt]="post.cover.alt" class="img-fluid">
		</a>
	</div>
	<div class="post-details">
		<div class="post-meta d-flex justify-content-between">
			<div class="date">{{ post.published_on | date:'MMMM d | y' }}</div>
			<div class="category">
				<a href="#">{{ post.category.name }}</a>
			</div>
		</div>
		<a [routerLink]="post.getUrl()">
			<h3 class="h4">{{ post.title }}</h3>
		</a>
		<p class="text-muted">{{ post.summary }}</p>
	</div>
</div>