<div class="container">
	<div class="row">
		<!-- post -->
		<div class="post col-xl-6" *ngFor="let post of list">
			<div class="post-thumbnail">
				<a href="post.html">
					<img [src]="post.cover.url" [alt]="post.cover.alt" class="img-fluid">
				</a>
			</div>
			<div class="post-details">
				<div class="post-meta d-flex justify-content-between">
					<div class="date meta-last">20 May | 2016</div>
					<div class="category"><a href="#">{{ post.category.name }}</a></div>
				</div>
				<a href="post.html">
					<h3 class="h4">{{ post.title }}</h3>
				</a>
				<p class="text-muted">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
				</p>
				<footer class="post-footer d-flex align-items-center">
					<a href="#" class="author d-flex align-items-center flex-wrap">
						<div class="avatar">
							<img [src]="post.author.picture" [alt]="post.author.fullname" class="img-fluid">
						</div>
						<div class="title"><span>{{ post.author.fullname }}</span></div>
					</a>
					<div class="comments meta-last"><i class="icon-comment"></i>12</div>
				</footer>
			</div>
		</div>
	</div>
</div>