<div class="row d-flex align-items-stretch" imgMatchHeight="text">
	<div class="image col-lg-5" *ngIf="displayImage('left')">
		<img [src]="post.cover.url" [alt]="post.cover.alt">
	</div>
	<div class="text col-lg-7">
		<div class="text-inner d-flex align-items-center">
			<div class="content">
				<header class="post-header">
					<div class="category">
						<a [routerLink]="post.category.getUrl()">{{ post.category.name }}</a>
					</div>
					<a [routerLink]="post.getUrl()">
						<h2 class="h4">{{ post.title }}</h2>
					</a>
				</header>
				<p>{{ post.summary }}</p>
				<footer class="post-footer d-flex align-items-center">
					<a href="#" class="author d-flex align-items-center flex-wrap">
						<div class="avatar">
							<img [src]="post.author.picture" [alt]="post.author.fullname" class="img-fluid">
						</div>
						<div class="title"> <span>{{ post.author.fullname }}</span> </div>
					</a>
					<div class="date">
						<i class="icon-clock"></i>
						{{ post.published_on | date:'M/d/yy, h:mm' }}
					</div>
					<div class="comments">
						<i class="icon-comment"></i>
						{{ post.comments.count }}
					</div>
				</footer>
			</div>
		</div>
	</div>
	<div class="image col-lg-5" *ngIf="displayImage('right')">
		<img [src]="post.cover.url" [alt]="post.cover.alt">
	</div>
</div>