.author {
	&:before {
		content : ' ';
		display : table;
		width   : 10em;
	}

	&-img {
		float        : left;
		width        : 40%;
		margin-right : 20px;
	}
}

.biography {
	font-size   : 1em;
	line-height : 1.7em;
	color       : #555555;
	font-weight : 400;
}