<ngx-page-header title="Categories" subtitle="Create a new category"></ngx-page-header>

<div class="row">
	<div class="col-12">
		<form [formGroup]="form" (submit)="save()" novalidate>
			<nb-card>
				<nb-card-body class="p-0">
					<nb-tabset class="form-tabset" formArrayName="translations">
						<nb-tab *ngFor="let translation of getTranslations().controls; let idx = index"
						        [formGroupName]="idx"
						        [tabTitle]="translation.get('lang_id').value | atIndexOf:languages:'id':'name'">

							<div class="form-group" [class.has-danger]="showError('name', translation)">
								<label [for]="'input-' + idx + '-name'" class="sr-only">Name</label>
								<input type="text" [id]="'input-' + idx + '-name'" class="form-control col-6 col-xs-12"
								       [class.form-control-danger]="showError('name', translation)"
								       placeholder="category name"
								       formControlName="name">

								<span class="form-text error" *ngIf="showError('name', translation)">
									<span *ngIf="translation.get('name').hasError('required')"> Name is required </span>
								</span>
								<span class="form-text error"
								      *ngFor="let err of getErrors(idx, 'name')"> {{ err }} </span>
							</div>
							<div class="form-group" [class.has-danger]="showError('slug', translation)">
								<label [for]="'input-' + idx + '-slug'" class="sr-only">Slug</label>
								<input type="text" [id]="'input-' + idx + '-slug'" class="form-control col-6 col-xs-12"
								       [class.form-control-danger]="showError('slug', translation)"
								       placeholder="slug"
								       formControlName="slug">

								<span class="form-text error" *ngIf="showError('slug', translation)">
									<span *ngIf="translation.get('slug').hasError('required')"> Slug is required </span>
								</span>
								<span class="form-text error"
								      *ngFor="let err of getErrors(idx, 'slug')"> {{ err }} </span>
							</div>
						</nb-tab>
					</nb-tabset>
					<div class="clearbox"></div>
				</nb-card-body>

				<nb-card-footer>
					<a routerLink="/admin/category/list" class="btn btn-hero-secondary">
						Cancel
					</a>
					<button type="submit" class="btn btn-hero-success">
						Save
					</button>
				</nb-card-footer>
			</nb-card>
		</form>
	</div>
</div>