<section>
	<div class="container-fluid">
		<form [formGroup]="form" (submit)="save()">
			<div class="card">
				<div class="card-header">
					<h3> {{ user.profile.fullname }} </h3>
				</div>
				<div class="card-body">
					<div class="picture-container file-uploader rounded">
						<div *ngIf="!user.profile.picture" class="initials rounded text-center">
							{{ user.profile.getInitials() }}
						</div>

						<div *ngIf="user.profile.picture"
						     class="picture" style.background-image="url({{ user.profile.picture }})"></div>

						<input type="file" id="picture" (change)="uploadPicture($event.target.files)">
					</div>

					<div class="content col-12 col-lg-offset-2">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="firstname">First name</label>

									<input type="text" id="firstname" formControlName="firstname"
									       class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="lastname">Last name</label>

									<input type="text" id="lastname" formControlName="lastname"
									       class="form-control">
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="form-control-label" for="birthday">Birthday</label>

							<div class="input-group">
								<input id="birthday" formControlName="birthday"
								       class="form-control" ngbDatepicker #picker="ngbDatepicker">

								<div class="input-group-append">
									<button type="button" class="btn btn-primary" (click)="picker.toggle()">
										<i class="far fa-calendar-alt"></i>
									</button>
								</div>
							</div>
						</div>

						<ngb-tabset justify="justified" type="pills" formArrayName="translations">
							<ngb-tab *ngFor="let t of getTranslations().controls; let idx = index;"
							         [formGroupName]="idx">
								<ng-template ngbTabTitle>
									{{ t.get("lang_id").value | atIndexOf:languages:"id":"name" }}
								</ng-template>

								<ng-template ngbTabContent>
									<div class="pt-3">
										<div class="form-group">
											<label class="form-control-label">
												Job Title
											</label>
											<input id="job-title" formControlName="job_title" class="form-control">
										</div>

										<div class="form-group">
											<label class="form-control-label">
												Biography
											</label>
											<div [froalaEditor]="editorOptions" formControlName="biography"></div>
										</div>
									</div>
								</ng-template>
							</ngb-tab>
						</ngb-tabset>
					</div>
				</div>
				<div class="card-footer text-right">
					<button type="submit" class="btn btn-primary" [ladda]="loading" data-style="zoom-in">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</section>