<div class="p-3">
	<form [formGroup]="form" (ngSubmit)="save()" novalidate>

		<ngb-tabset formArrayName="translations">
			<ngb-tab *ngFor="let translation of getTranslations().controls; let i = index;" [formGroupName]="i">
				<ng-template ngbTabTitle>
					{{ translation.get('lang_id').value | atIndexOf:languages:'id':'name' }}
				</ng-template>
				<ng-template ngbTabContent>
					<div class="pt-2">
						<div class="form-group">
							<label> Name </label>
							<input type="text" formControlName="name" class="form-control">
						</div>
						<div class="form-group">
							<label> Slug </label>
							<input type="text" formControlName="slug" class="form-control">
						</div>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>

		<div class="form-check">
			<label class="custom-control custom-checkbox">
				<input type="checkbox" formControlName="is_active" value="1" class="custom-control-input">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Active</span>
			</label>
		</div>

		<div class="text-right">
			<hr />
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="submit" class="btn btn-outline-secondary">Cancel</button>
		</div>
	</form>
</div>