<div class="widget search">
    <header>
        <h3 class="h6" i18n="@@widget-search-title">Search the blog</h3>
    </header>
    <div class="search-form">
        <div class="form-group">
            <input type="search" name="search" placeholder="What are you looking for?"
                   [(ngModel)]="search" (keydown)="searchFor($event)"
                   i18n-placeholder="@@widget-search-placeholder">
            <button class="submit" (click)="searchFor(null)"><i class="icon-search"></i></button>
        </div>
    </div>
</div>