h3 {
	color       : #555555;
	font-weight : 400;
}

p {
	font-weight   : 300;
	font-size     : 0.95em;
	color         : #aaaaaa;
	margin-bottom : 0;
}


.line {
	margin: { top: 20px; bottom: 20px; };
}