<div class="modal-header">
	<h4 class="h2"> Reply </h4>
</div>
<div class="modal-body">
	<form [formGroup]="form" class="forms" novalidate>
		<div class="form-group col-sm-10">
			<h3>{{ comment.author }}</h3>
			<p>{{ comment.comment }}</p>
		</div>
		<div class="line"></div>
		<div class="form-group col-sm-10">
			<label for="comment" class="form-control-label"> Comment </label>
			<textarea formControlName="comment" id="comment" class="form-control" rows="4"></textarea>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="save()">
		create
	</button>
	<button type="button" class="btn btn-outline-secondary" (click)="close()">
		close
	</button>
</div>